/* colors */

:root {
  --black: #000;
  --white: #fff;
  --spacing: 1rem;
  --radius: 4px;
}

.c-black {
  color: var(--black);
}
.c-white {
  color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.fill-white {
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(301deg) brightness(111%) contrast(100%);
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.btn {
  padding: calc(var(--spacing) / 2);
  font-size: var(--fs-sm);
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: var(--radius);
}
.border-solid {
  border: 1px solid var(--black)
}