/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* 
 * Este archivo debe contener los estilos propios
 * para visualizar correctamente el theme.
 * ATENCIÓN: La declaración de reglas debe cumplir la directriz MOBILE FIRST.
 */

 ul {
  list-style: none;
}
section h2 {
  text-align: center;
}
.inner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding:  calc(var(--spacing) * 2) var(--spacing);
}

/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px -5px grey;
          box-shadow: 0px 0px 5px -5px grey;
}
.header > .inner-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--spacing);
}
.main-menu--desktop {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
}
.main-menu--desktop > ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  margin: auto;
}
.main-menu--desktop > ul li {
  cursor: pointer;
}
.main-menu--desktop ul li:after {
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: .5em auto 0;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
}
.main-menu--desktop ul li:hover:after {
  width: 60%;
}

/* main section */
.main-section > .inner-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-section__image {
  max-width: 70%;
}
.main-section__inner-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-section__text {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: var(--spacing) 0;
  gap: var(--spacing);
}
.main-section__social > ul {
  gap: var(--spacing);
  max-width: 250px;
  margin-top: var(--spacing);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-section__social > ul > li {
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: var(--radius);
}

/*  skills  */
.skills-section > .inner-wrapper,
.skills {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--spacing);
}
.skills-section > .inner-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skill {
  padding: var(--spacing);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(var(--spacing) / 2);
  border-radius: var(--radius);
  height: 100px;
}
.skill > p {
  font-size: 10px;
}
.skill > img {
  height: 30px;
}

/* About me */
.about .inner-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__figure {
  overflow: hidden;
  border-radius: 100%;
  max-width: 300px;
  margin: 0 auto var(--spacing);
}
.about__inner-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(var(--spacing) / 2);
}

/* Works */
.works .inner-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing);
}
.gallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--spacing);
}
.gallery__item {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--spacing);
  height: 230px;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  -webkit-box-shadow: 0px 0px 7px -2px #cdcdcd;
          box-shadow: 0px 0px 7px -2px #cdcdcd;
}
.gallery__item img {
  height: 100%;
}
.gallery__item:hover {
  border-color: var(--black);
}

/* Contacto */
.contact .inner-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: calc(var(--spacing) * 2);
}
.contact form {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: var(--spacing);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact form input {
  padding: var(--spacing);
  border: 1px solid;
  border-radius: var(--radius);
}
.contact form input[type] {
  width: 100%;
}
.contact form textarea {
  padding: var(--spacing);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  border: 1px solid;
  border-radius: var(--radius);
}
.contact form input[type="submit"] {
  margin: auto;
  max-width: 80px;
}
.contact__text {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing);
}
.contact__text > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* Footer */
.footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(var(--spacing) * 2);
}
.footer__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.footer__social > ul {
  gap: var(--spacing);
}

/* RESPONSIVE */
@media screen and (min-width: 360px){
  .contact form input[type] {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: initial;
  }
}
@media screen and (min-width: 768px) {
  .main-menu {
    display: none;
  }
  .main-menu--desktop,
  .btn-cv {
    display: block;
  }
  .about .inner-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about__figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .about__inner-wrapper {
    padding-left: calc(var(--spacing) * 2);
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .contact .inner-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact form {
    min-width: 470px;
  }
}

@media screen and (min-width: 992px) {
  .main-section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main-section__image {
    max-width: initial;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-section > .inner-wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main-section__inner-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .skill {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 120px;
    -ms-flex: 0 1 18%;
        flex: 0 1 18%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skill > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
  .skill > img {
    height: 40px;
  }
}